* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2 {
    font-family: 'Petit Formal Script', cursive;
    color: #ea0083
}

h3 {
    font-family: 'Quicksand', sans-seriff;
}

p, label, input, li{
    font-family: 'Quicksand', sans-seriff;
    font-size: 1.2em;
}
/** Google fonts: font-family: 'Petit Formal Script', cursive;
font-family: 'Quicksand', sans-serif; */



/** Nav Bar and Header **/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    background-color: #ffc2e3;
}

.logo{
    width: 100%;
    max-width: 35%;
}

nav {
    font-family: 'Quicksand', sans-seriff;
    font-size: 1.5em;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 20px 10px;
}



/** Home Page */
body{
    background-image: url("../images/background.jpg");
}

.invite{
    width: 45%;
}

/* p{
    color: #ea0083;

} */

footer{
    background-color: #ffc2e3;
    text-align: center;
    padding: 3%;
}

footer p{
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.2em;
    font-weight: 400;
}

/* Sticky sidebar */
.sidebar{
    will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}





/********************* RSVP Page Styling *********************/
.reunion, .fashion_tips {
    background-color: white;
    border: solid #53c9ed 5px;
    margin: 5%;
    padding: 5%;
}

.reunion p {
    padding: 5px 0;
}

.reunion h3 {
    color: #ea0083;
}

.rsvp_section {
    background-color: #ffc2e3;
    text-align: center;
    margin: 5%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.rsvp_section button {
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.3em;
    background: #53c9ed;
    border: solid white 2px;
    border-radius: 10px;
    margin: 5%;
    padding: 2% 5%;
}

.rsvp_section button:hover {
    background: white;
    border: solid white 2px;
    border-radius: 10px;
    margin: 5%;
    padding: 2% 5%;
}

.fashion_tips ol{
    padding: 3% 3%;
}

.fashion_tips li {
    padding: 3% 0;
}


/********************* Media Queries *********************/

/* RSVP Page */
@media (min-width: 600px) {

    /* Header and Nav Media Query */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 35%;
    }

    nav {
        padding: 2%;
        font-size: 1.5em;
        width: 60%;
    }



    main {
        display: flex;
        flex-direction: row;
    }

    .rsvp_container {
        width: 75%;
    }

    .fashion_tips {
        margin: 0;
        width: 30%;
    }
}
