* {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2 {
  font-family: "Petit Formal Script", cursive;
  color: #ea0083;
  font-size: 2em;
  animation: pulse;
  animation-duration: 1s;
}

h3 {
  font-family: "Quicksand", sans-serif;
}

p,
label,
input,
li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
}
/** Google fonts: font-family: 'Petit Formal Script', cursive;
font-family: 'Quicksand', sans-serif; */

/** Nav Bar and Header **/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: baseline; */
  text-align: center;
  background-color: #ffc2e3;
}

.logo {
  width: 100%;
  max-width: 35%;
}

nav {
  display: none;
}

/* ******************************* HAMBURGER MENU STYLES ******************************* */

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #ea0083;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #ea0083;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.mobile-navbar {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f5d1e4;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
.mobile-navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.mobile-navbar li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.mobile-navbar li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.mobile-navbar ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
.mobile-navbar ul li a:hover {
  color: #666;
  text-decoration: none;
}
.mobile-navbar a {
  text-decoration: none;
  color: #666;
}
.mobile-navbar a:hover {
  text-decoration: none;
  color: #666;
}

/* ******************************* HAMBURGER MENU STYLES ******************************* */

/** Home Page */
body {
  background-image: url("../images/background.jpg");
}

.invite {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 2%;
}

/* p{
    color: #ea0083;

} */

footer {
  background-color: #ffc2e3;
  text-align: center;
  padding: 3%;
  margin: auto;
  color: #ea0083;
  font-size: 1.3em;
}

footer p {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.2em;
  font-weight: 400;
}

.ellehomepage {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: #ea0083;
}

.about {
  background-color: #ffffff;
  opacity: 0.9;
  padding: 3%;
  margin: auto;
  border: solid #53c9ed 5px;
  text-align: center;
}

.about h2 {
  padding-top: 2%;
}

.invite:hover, 
.ellehomepage:hover,
.about_elle_img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
/* Sticky sidebar 
.sidebar{
    will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. 
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}*/

/********************* Memories Page Styling *********************/
.memory_lane h2 {
  background-color: #ffc2e3;
  margin: 3%;
  padding: 5%;
  border-radius: 10px;
}

.about_elle {
  background-color: white;
  border: solid #53c9ed 5px;
  margin: 5%;
  padding: 5%;
}

.about_elle_img {
  background-color: #ea0083;
  text-align: center;
  padding: 5%;
}

.about_elle_img img {
  width: 100%;
  max-width: 450px;
}

.memory_lane {
  text-align: center;
}

.memory_lane figure img {
  max-width: 950px;
  padding: 2%;
}

.memory_lane figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/********************* RSVP Page Styling *********************/
.reunion,
.fashion_tips {
  background-color: white;
  border: solid #53c9ed 5px;
  margin: 5%;
  padding: 3%;
}

.reunion p {
  padding: 5px 0;
}

.reunion h3 {
  color: #ea0083;
}

.rsvp_section {
  background-color: #ffc2e3;
  text-align: center;
  margin: 5%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.rsvp_section button {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.3em;
  background: #53c9ed;
  border: solid white 2px;
  border-radius: 10px;
  margin: 5%;
  padding: 2% 5%;
}

.rsvp_section button:hover {
  background: white;
  border: solid white 2px;
  border-radius: 10px;
  margin: 5%;
  padding: 2% 5%;
}

.fashion_tips ol {
  padding: 3% 3%;
}

.fashion_tips li {
  padding: 3% 0;
}

/*  */

/********************* Media Queries *********************/

/* ******************************* START MIN-WIDTH 950 MEDIA QUERY ******************************* */
@media (min-width: 950px) {
  .mobile-navbar,
  .hamburger,
  .cross {
    display: none;
  }

  .home_container {
    display: flex;
    flex-direction: row;
  }

  .invite {
    width: 95%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    width: 35%;
  }

  .navbar {
    background-color: #ffc2e3;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 28px;
    width: 100%;
    padding-left: 40%;
  }

  .nav-list {
    list-style-type: none;
  }

  .nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
   
  }

  .navbar .nav-list, .list-item a:hover {
    color: #000000;
    text-decoration: none;
    animation: tada;
    animation-duration: 1s;
  
  }

  

 

  /*nav {
    padding: 2%;
    font-size: 1.5em;
    width: 60%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px 10px;
  }



  /* RSVP Page */

  /* Header and Nav Media Query */

  main {
    display: flex;
    flex-direction: row;
  }

  .rsvp_container {
    width: 75%;
  }

  .fashion_tips,
  .about,
  .about_elle {
    margin: 3%;
    width: 30%;
  }

  #footer {
    position: relative;
  }

  .memory_lane figure img {
    width: 100%;
    max-width: 590px;
    padding: 2%;
  }

  .memory_lane figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}


